[submodule ".themes/dark"]
	path = .themes/dark
	url = git://github.com/octothemes/classic-dark.git
[submodule ".themes/fabric"]
	path = .themes/fabric
	url = git://github.com/panks/fabric.git
[submodule ".themes/cleanpress"]
	path = .themes/cleanpress
	url = git@github.com:kjellski/cleanpress.git
[submodule ".themes/slash"]
	path = .themes/slash
	url = git@github.com:kjellski/Octopress-Theme-Slash.git
[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = git@github.com:kjellski/foxslide.git
