<script src="{{ root_url }}/javascripts/libs/handlebars.js"></script>
<div id="atop-content">
</div>

{% raw %} 
<script id="atop-loading-template" type="text/x-handlebars-template">
    <section id="{{name}}-atop-id" class="atops-section">
        <div class="loader"><img src="images/ajax-loader.gif"></div>
    </section>
</script>
{% endraw %}


{% raw %} 
<script id="atop-content-template" type="text/x-handlebars-template">
    <section id="{{name}}-atop-id" class="atops-section">
        {{#each items}}
            <div class="atop-item">
                <header class="item-header">{{title}}</header>
                <div class="item-description">{{description}}</div>
            </div>
        {{/each}}
    </section>
</script>
{% endraw %}

<script src="{{ root_url }}/javascripts/custom/atops.js" type="text/javascript"> </script>