// ----------------------------------------------------------------------------
// Table of Contents:
//
// 01.  default sizes of the elements:
//      this should be used
//      to customize the look of the section itself and its
//      childs
// 
// 02.  element definitions:
//      usage of the values defined in section 01.
//
// 03.  animations and transitions:
//      TODO, not yet implemented
// ----------------------------------------------------------------------------

// ----------------------------------------------------------------------------
// 01.  default sizes of the elements:

// the atop containers properties itself
$atop-container-width:  1000px; // this is the complete atops container width
$atop-container-height: 250px; // this is the complete atops container height

// the properties of the items in the atops container
$atop-item-width:  280px; 
$atop-item-height: $atop-container-height;

// the title inside the item
$atop-item-title-width:  $atop-item-width;
$atop-item-title-height: 28px;
$atop-item-title-lineheight: 25px;

// the description inside the item

// ----------------------------------------------------------------------------
// 02.  element definitions:
#atop-content {
    $paddings: 2px;

    margin: 0 auto;
    width:  $atop-container-width;
    // height: $atop-container-height;

    vertical-align: middle;
    padding: $paddings;

    clear: both;

    div, header {
        border: #a0a0a0 solid 1px;
    }

    .loader {
        border: 0;
        width: 16px;
        height: 16px;
        margin: 0 auto; 
    }

    >.atops-section {
        margin: 2px auto;
        display: inline-block;
        width: 100%;
        // height: $atop-item-height;

        >.atop-item {
            margin: $paddings auto;
            padding: 4px;
            width:  $atop-item-width;

            display: inline-block;
            word-wrap: break-word;

            >.item-header {
                float: left;
                margin: 0px auto;
                width:  100%;
                height: $atop-item-title-height;
                line-height: $atop-item-title-lineheight;
            }
            >.item-description {
                float: left;
                width:  100%;
                display: block;
                // max-height: 75px;
            }
        }
    }
}