$header-content-block-widht: 220px;
$header-content-block-height: $header-height * 3;

#header >* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

#gh_repos {
    // display: block;
    height: $header-content-block-height + 4px;

    width: 10 * $header-content-block-widht;
    white-space: nowrap;
    float: left;
}

.header-content-block {
    border:  1px solid blue;
    
    width:   $header-content-block-widht;
    height:  $header-content-block-height;
    text-overflow: auto;

    display: inline-block;
}

#header-content {
    width: 100%;
    overflow:  auto;

    @media screen and (max-width: 1040px){
        height: auto;
        position: relative;
        padding-bottom: 10px;
    }

    >section {
        padding-top: 10px;
        padding-bottom: 8px;
        border-top: $header-border-height solid $color-gray04;
        
        // line-height: $header-height;
        // display: block;
        
        // a{
        //     color: $color-gray01;
        //     @include transition(color 0.3s);
        //     &:hover{
        //         color: $color-main;
        //     }
        // }

        // h1{
        //     float: left;
        //     font-weight: 300;
        //     font-size: 20px;
        //     @media screen and (max-width: 1040px){
        //         float: none;
        //     }
        // }
    }
}